bin/
obj/
**/bin/
**/obj/
.vs/
.vscode/*
!.vscode/settings.json
.idea/
.dotnet8/
.tools/
TestResults/
Storage/
tmp/
appsettings.Development.json
.env
!.env.example
*.user
*.suo
*.log
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
*.tfplan
crash.log
